// Copied from https://getbootstrap.com/docs/4.1/examples/sign-in/
doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title Sign in
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css')
    style
      include ../public/stylesheets/signin.css
  body(class="text-center")
    form(class="form-signin" method="POST" action="/auth/login")
      h1(class="h3 mb-3 font-weight-normal").
        Please sign in
      label(for="inputEmail" class="sr-only").
        Name
      input(id="inputEmail" class="form-control" placeholder="Username" name="name" required autofocus)
      label(for="inputPassword" class="sr-only").
        Password
      input(type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" required)
      div(class="checkbox mb-3")
        label
          input(type="checkbox" value="remember-me")
          text  Remember me
      button(class="btn btn-lg btn-primary btn-block" type="submit").
        Sign in
      p(class="mt-5 mb-3 text-muted").
        Inna Ivashko © 2019
